h1, p {
  font-family: Lato;
}

.CartTable{
  color: rgb(14, 13, 13);
  border: rgb(7, 7, 7) 1px solid;
  left:12mm; top:25mm;

  /* width: 100%;
  height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 
.MyCart{
  margin-left:400mm;
  position:absolute;
  left:12mm; top:25mm;
}

.amountInCart  {
 margin-left:400mm;
position:absolute;
left:2mm; top:30mm;
} */
/* 
.totalPayable {
margin-left:400mm;
position:absolute;
left:2mm; top:35mm; 
} */

.itemList{
margin-left:350mm;
 margin-top: 12mm;
/*position:relative */
/* margin-top: 10em; */
/*position:absolute;
left:80px; top:45px;*/
padding:10;
/* marginHorizontal:100mm; */
} 

.itemsForSale{
margin-left:10mm;
position:absolute;
left:10mm; top:20mm; 
}

.addButton{
position:relative;
left:10mm; 
/* top:-1mm; */
}

.itemPrice{
position:relative;
left:-2mm;
top:11mm;
}


.navbar {
    background-color: #060b26;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 1;
    
  }
  
  .search{
    position:absolute;
    left:310mm; top:5mm;
    margin-left: 15%; 

    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }

  .cartDropdown{
    position:absolute;
    left:250mm; top:5mm;
    float: right;
    padding: 6px;
    
  }

  .cartDropdown:hover {
    background-color: #ddd;
    color: black;
  }

  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
  }
  
  .nav-menu {
    background-color: #060b26;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    z-index: 1;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
    z-index: 1;
  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: #1a83ff;
  }
  
  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  

  .pageHeading{
    font-size: 2.5em;
    font-weight: 100;
    color:rgb(102, 4, 37);
    text-align: center;
  }

  .marginPage{
    margin:2em;
    display: grid;
    justify-content: center;
  }

  .login-register-back{
    background-color: rgba(102, 4, 37, 0.249);
    padding-top: 3em;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 0.5em;
    display:grid;
    justify-content: center;
    width: fit-content;
    border-radius: 5%;
  }

  .textInput{
    margin: auto;
    height: 2em;
    width: 70vh;
    border-radius: 0.2em;
    background-color: rgb(242, 236, 236);
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    border: none;
    outline: none;
  }

  .bigButton{
    margin: auto;
    height: 2em;
    width: 70.5vh;
    border-radius: 0.2em;
    background-color: rgb(102, 4, 37);
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    border: none;
    outline: none;
    color: rgb(242, 236, 236)
  }

  .bigButton:hover{
    cursor: pointer;
    background-color: rgba(102, 4, 37, 0.862);
  }

  .signIn{
    text-decoration: none;
    color: rgb(102, 4, 37);
  }

  .signIn:visited{
    text-decoration: none;
    color: rgb(102, 4, 37);
  }

  .signIn:hover{
    color:blue;
  }

  .redText{
    color:rgb(102, 4, 37);
  }

  .errorMessage{
    color:rgb(102, 4, 37);
    font-size: 1.3em;
  }

  .pwd-container {
    position: relative;
    width: 295px;
  }
  
  .pwd-container img {
    cursor: pointer;
    position: absolute;
    width: 20px;
    left: 450px;
    top: 15px;
  }

  .table{
    color: black;
  }